* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'EB Garamond', serif;
    background-color: #f2f1f0;
}


h1, h2, h3, h4, h5, p {
    margin: 0;
}

h1 {
    font-size: 4.3rem;
    font-weight: 600;
    line-height: 4.3rem;
}

h2 {
    font-size: 2.3rem;
}

aside{
    position:fixed;
    width:250px;
    background-color: blanchedalmond;
    top: 0;
    bottom: 0;
}


#downl {
    width: 100px;
    height: 30px;
    background-color: aqua
}

.page-container {
    width: 990px;
    margin: 0 auto;
}
.page {
    box-shadow: 0 0.5rem 2.5rem 0 rgba(0,0,0,0.25);
    height: 1360px;
    margin-bottom: 20px;
    padding-top: 4rem;
}

.page .row ~ .row {
    padding-top: 1rem;
}


/* content style */
img {
    width: 100%;
    max-width: 33rem;
    display: block;
}

figure {
    margin: 0;
    border: none;
    display: block;
}

.section {
    padding: 0 4rem;
}

.section .title {
    font-size: 2.6rem;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.5rem;
}

.first-line-col {
    display: inline-block;
    vertical-align: top;
}

.col {
    line-height: 2rem;
}

.image-col {
    padding-left: 2rem;
    width: 25%;
}

.title-col {
    padding-right: 2rem;
    width: 75%;
}

.col .cRow-inner:nth-child(2) {
    padding: 10px 0 0 0;
}

.cCol-inner {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.cCol-inner  div {
    margin-top: 10px;
}

.content {
    font-size: 1.5rem;
}

.inline-b {
    display: inline-block;
    vertical-align: top;
}

.section .dates {
    width: 15%
}

.section .dates span {
    font-weight: 600;
    font-size: 1.5rem;
}

.section .subject {
    width: 85%;
}

.section .subject-wrapped {
    width: 100%!important;
    padding-left:15%;

}

.section .subject h5 {
    font-size: 1.9rem;
}

.section .subject p {
    font-size: 1.5rem;
    line-height: 1.5em;
}

.section .subject-rating-row {
    padding-left: 15%;
}

.section .subject-rating-row > *{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.subject-rating-row .rating-circle {
    text-align: right;
}

.subject-rating-row .rating-circle > div {
    height: 20px;
    width: 20px;
    background-color: #cecece;
    display: inline-block;
    border-radius: 50%;
}

.dates .date-from::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 0;
    border-top: 1px solid black;
    vertical-align: middle;
    margin: 0 3px;
}