
# javascript
node_modules
package-lock.json
.eslintrc.js

# python cache files
__pycache__

# django media folder
media/

# database
**/*.sqlite3

# vs code files
*.code-workspace
.vscode

# temp files for local tests
*temp.*
frontend/

# js polyfills list to add in future
poly.txt
