<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "app/css/normalize.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.3/cropper.css">
    <link rel="stylesheet" href="{% static "app/css/style.css" %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.3/cropper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.0/mustache.min.js"></script>

    <title>Portfolio Builder</title>
    </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <!-- BUTTONS FOR TEST PUSPOSES -->
    <button id="myBtn">Open Modal</button>
    <button id="jobsReq">Job</button>
    <button id="schoolsReq">School</button>
    <!-- ========================== -->


    <div id="uploadAvatarModal" class="modal">
      <div class="modal-wrapper">
        <div class="modal-header">
          <h3>Crop Image</h3>
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="modal-content">
          <div class="wrapper">
            <div class="crop-box"><img id="toCropImg" src="" alt=""></div>
            <div class="preview-container">
              <h4>Preview</h4>
              <div class="preview-box"></div>
              <div class="size-box-container">
                <div class="size-box">
                  <span>Width</span>
                  <span id="preview-width">640</span>
                  <span>px</span>
                </div>
                <div class="size-box">
                  <span>Height</span>
                  <span id="preview-height">860</span>
                  <span>px</span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <div class="modal-btn-wrapper">
            <button class="btn-modal btn-save">Save</button>
            <button class="btn-modal btn-cancel">Cancel</button>
          </div>
        </div>
      </div>
    </div>


    <main>
      <div class="container" style="display: none">
        <section class="panel">
          <div class="form" data-n="profile">
            <div class="field c6">
              <label class="form-label">First name</label>
              <div class="new_form-field">
                <input class="form-field" type="text" data-listener="keyup" name="first_name">
              </div>
            </div>
            <div class="field c6">
              <label class="form-label">Last name</label>
              <div class="new_form-field">
                <input class="form-field" type="text" data-listener="keyup" name="last_name">
              </div>
            </div>
            <div class="field c12">
              <label class="form-label">Profession</label>
              <div class="new_form-field">
                <input class="form-field" type="text" data-listener="keyup" name="profession">
              </div>
            </div>
          </div>

          <div class="avatar-wrapper">
            <div class="avatar"></div>
            <div class="overlay">
              <div class="btn-photo" id="btn-upload-avatar">
                <i class="fas fa-cloud-upload-alt"></i>
                Change Photo
                <input type="file" name="avatar" onchange="previewImage(this)" id="inp-avatar" style="display:none">
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="container" style="display: none">
        <section class="panel">
          <div class="form" data-n="personal">
            <div class="field form-heading c12">
              <h4>Column 1</h4>
              <span>Add field</span>
            </div>
            <div class="field c12">
              <label class="form-label">Phone</label>
              <div class="ifield">
                <span class="date-select-icon">
                  <i class="fas fa-mobile-alt"></i>
                </span>
                <div class="new_form-field">
                  <input class="form-field" type="text" name="phone">
                </div>
              </div>
            </div>
            <div class="field c12">
              <label class="form-label">E-mail</label>
              <div class="ifield">
                <span class="date-select-icon">
                  <i class="far fa-envelope"></i>
                </span>
                <div class="new_form-field">
                  <input class="form-field" type="text" name="email">
                </div>
              </div>
            </div>
            <div class="field c12">
              <label class="form-label">Date of birth</label>
              <div class="ifield">
                <span class="date-select-icon">
                  <i class="fas fa-birthday-cake"></i>
                </span>
                <div class="new_form-field">
                  <input class="form-field" type="text" name="birthday">
                </div>
              </div>
            </div>
          </div>


          <div class="form" data-n="social">

            <div class="field form-heading c12">
              <h4>Column 2</h4>
              <span onclick="addField()">Add field</span>
            </div>
            <div class="field c12">
              <label class="form-label">Facebook</label>
              <div class="ifield">
                <span class="date-select-icon">
                  <i class="fab fa-facebook-f"></i>
                </span>
                <div class="new_form-field">
                  <input class="form-field" type="text" name="facebook">
                </div>
              </div>
            </div>

            <div class="field c12">
              <label class="form-label">Linkedin</label>
              <div class="ifield">
                <span class="date-select-icon">
                  <i class="fab fa-linkedin-in"></i>
                </span>
                <div class="new_form-field">
                  <input class="form-field" type="text" name="linkedin">
                </div>
              </div>
            </div>

          </div>
        </section>
      </div>

      <div class="container" style="display: none">
        <section class="panel">
          <div class="form" data-n="summary">
            <div class="field form-heading c12">
              <h4>Summary</h4>
            </div>
            <div class="field c12">
              <div class="new_form-field">
                <textarea class="form-field" name="summary" rows="5"></textarea>
              </div>
            </div>
          </div>


        </section>
      </div>

      <div class="container">
        <div id="jobsTarget">Loading...</div>
        <div class="add-new-possition">
          <button id="addJob">Add new company</button>
        </div>
      </div>

      <div class="container">
        <div id="schoolsTarget">Loading...</div>
        <div class="add-new-possition">
          <button id="addSchool">Add new school</button>
        </div>
      </div>

      <script>
      function render(sectionData, containerName){
        // some stupid things begin here
        // because django template system does not allow to use
        // js string interpolation inside itself instruction static ...
        // so was found way to add add container name as template name after
        // django generates url
        // mb will find better way later
        let url = "{% static 'app/js/.mst' %}"
        let temp = url.split(".")
        url = temp.join(containerName + '.')
        // TODO replace with js
        $.get(url, function(template){
          var rendered = Mustache.render(template, {[containerName]: sectionData});
          $(`#${containerName}Target`).html(rendered);


          let currentYear = new Date().getFullYear()
          let container = document.getElementById(`${containerName}Target`)
          let selects = container.querySelectorAll("select[data-date-part=year]")
          for (var i=0; i < selects.length; i++){
            generateYearOptions(selects[i], currentYear, 50);
          }
          let containers = document.querySelectorAll(`[data-n=${containerName}]`)
          setDates(sectionData, 'select', containers);
          registerListener(containers)
        });
      };
      </script>

    </main>
    <script src="{% static "app/js/ajaxRequests.js" %}"></script>
    <script src="{% static "app/js/main.js" %}"></script>
  </body>
</html>
