<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "app/css/normalize.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.3/cropper.css">
    <link rel="stylesheet" href="{% static "app/css/style.css" %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.3/cropper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.0/mustache.min.js"></script>
    <script src="//unpkg.com/navigo@6"></script>
    <title>Portfolio Builder</title>
    </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <aside>
      <ul>
        <li><a href="Profile" data-navigo>Profile</a></li>
        <li><a href="Summary" data-navigo>Summary</a></li>
        <li><a href="Experience" data-navigo>Experience</a></li>
        <li><a href="Education" data-navigo>Education</a></li>
        <li><a href="Skills" data-navigo>Skills</a></li>
      </ul>
    </aside>

    <div id="resMessage">
      <i class="fa fa-check"></i>
      <strong>Saved</strong>
    </div>

    <div id="uploadAvatarModal" class="modal">
      <div class="modal-wrapper">
        <div class="modal-header">
          <h3>Crop Image</h3>
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="modal-content">
          <div class="wrapper">
            <div class="crop-box"><img id="toCropImg" src="" alt=""></div>
            <div class="preview-container">
              <h4>Preview</h4>
              <div class="preview-box"></div>
              <div class="size-box-container">
                <div class="size-box">
                  <span>Width</span>
                  <span id="preview-width">640</span>
                  <span>px</span>
                </div>
                <div class="size-box">
                  <span>Height</span>
                  <span id="preview-height">860</span>
                  <span>px</span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <div class="modal-btn-wrapper">
            <button id="save" class="btn-modal btn-save">Save</button>
            <button class="btn-modal btn-cancel">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="content"></div>
    </div>

    <div class="new-field-section">
    <div class="modal" style="display:none">
      <div class="modal-wrapper">
        <div class="modal-header">
          <h3>Choose Field</h3>
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="modal-content">
          <div class="wrapper">
            <ul>
              <li onclick="github(this)" class="social-field">
                <span></span>
                <span data-label='Github'>Github</span>
              </li>
              <li class="social-field">
                <span></span>
                <span>Instagram</span>
              </li>
              <li class="social-field">
                <span></span>
                <span>Youtube</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <div class="modal-btn-wrapper">
            <button id="save" class="btn-modal btn-save">Save</button>
            <button class="btn-modal btn-cancel">Cancel</button>
          </div>
        </div>
      </div>
    </div>


    </div>
    </main>
    <script>

    </script>
    <script src="{% static "app/js/main.js" %}"></script>
  </body>
</html>
