<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static "app/css/preview.css" %}" />
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600&amp;subset=cyrillic-ext" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <title>Document</title>
  </head>
  <body>
    <button onclick="send(this)"></button>
    <div class="page-container">
      <!-- <div class="page">
        <div class="row">

            <div class="section">
              <div class="title-col first-line-col">
                <div class="cRow-inner">
                  <h1>Dmytro Hordon</h1>
                  <h2>Junior Frontend Developer</h2>
                </div>
                <div class="cRow-inner">
                  <div class="cCol-inner content">
                      <div><strong>Phone </strong><span>+380647706009</span>
                    </div>
                    <div>
                      <strong>E-mail </strong><span>dimagordon@gmail.com</span>
                    </div>
                    <div>
                      <strong>Date of birth </strong><span>1995-04-02</span>
                    </div>
                  </div><div class="cCol-inner content">
                    <div>
                      <strong>Github </strong><a href="https://github.com/pbdgk/">https://github.com/pbdgk/</a>
                    </div>
                    <div>
                      <strong>Linkedin </strong><a href="https://linkedin/in/dmytro-hordon/">https://linkedin/in/dmytro-hordon/</a>
                    </div>
                  </div>

                </div>
              </div><div class="image-col first-line-col">
                <div class="iContainer">
                  <figure>
                    <img src="test.JPG" alt="User Photo">
                  </figure>
                </div>
              </div>
            </div>

        </div>

        <div class="row">

            <div class="section">
              <div class="col">
                <div class="content">
                  <p>Junior python developer.</p>
                  <p>Have some experience in developing backend for web projects using Django with web-sockets and REST technologies.</p>
                  <p>Interested in asynchronous development of Telegram bot`s and Web Scrappers.</p>
                  <p>Skilled at writing well-designed, testable and efficient code using current best practices in Web development.</p>
                  <p>Outgoing and detail-oriented, proficient at building and maintaining professional relationships.</p>
                </div>
              </div>
            </div>

        </div>

        <div class="row">

            <div class="section">
              <div class="title">Education</div>
              <div class="col">
                <div class="content">
                  <div class="dates inline-b">
                    <span class="date-from">2016-10</span><span class="date-to">present</span>
                  </div><div class="subject inline-b">
                    <h5>National Technical University of Ukraine 'Igor Sikorsky Kyiv Polytechnic Institute'​, Kyiv</h5>
                    <p>Educational Methodical Complex “Institute of Postgraduate Education”</p>
                    <p>Software Engineering</p>

                  </div>
                </div>
              </div>
            </div>

        </div>



        <div class="row">

            <div class="section">
              <div class="title">Experience</div>
              <div class="col">
                <div class="content">
                  <div class="dates inline-b">
                    <span class="date-from">2016-10</span><span class="date-to">present</span>
                  </div><div class="subject inline-b">
                    <h5>Mentor</h5>
                    <p>It education academy</p>
                    <p>Conduct Python base lessons</p>
                    <p>Teach students the basics of Python and algorithms</p>
                    <p>Help students to achieve their tasks</p>

                  </div>
                </div>
              </div>
            </div>

        </div>



        <div class="row">
          <div class="section">
            <div class="title">Skills</div>
            <div class="col">
              <div class="content">
                  <div class="subject-rating-row offset-left">
                    <p>Javascript</p><div class="rating-circle">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div> -->
    </div>
    <script src="{% static "app/js/preview.js" %}"></script>
  </body>
</html>
